<!DOCTYPE html>
<html>
<head>
	<title>Sample Boostrap example</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
</head>
<body>
	<div class="container bg-primary">
		<h1>Welcome to Bootsarp I am your Bestie</h1>
	</div>
	<div class="container-fluid  bg-success">
		<h2>I am Kushala Shetty</h2>
		
	</div>
	<div class="jumbotron">
		<h1>Everthing should be come to at right time </h1>
	</div>
	<div class="alert alert-warning">
		<h1>Hi KUTTI</h1>
	</div>
	<div class="alert alert-success alert-dismissible">
		<button type="button" class="close" data-dismiss="alert">remove</button>
		<strong>Success!</strong> Indicates a successful or positive action.
    </div>
    <h2 class="text-primary">Hi Darling Welcome to Nature World</h2>
    <h2 class="text-secondary">Hi Kushii Shetty  Welcome to Alone World</h2>
    <button type="button" class="btn btn-primary" name="OK">OK</button>
    <input type="button" name="OK" value="OK" class="btn btn-warning">

 
</body>
</html>