<!DOCTYPE html>
<html>
<head>
	<title>Employee Detailes</title>
</head>
<body style="background-color: yellow;">
	<h1 style="text-align: center;color: green;">Register Here</h1>

	<div style="margin-left: 230px;
	margin-right: 230px;
	margin-top: 40px;
	margin-bottom: 50px;
	background-color: cadetblue;
	padding: 20px;
	color:pink;
	text-align: center;">
	<h1  style="background: blue;
	text-align: center;
	color:white;
	padding: 15px;
	border: groove;">Employee Registration</h1>
		<form>
			
			<label>Emp Name:</label>
			<input type="text" name=""></br></br>
			<label>Emp Age:</label>
			<input type="text" name=""></br></br>
			<button >OK</button>
		</form>
	</div>

</body>
</html>