<!DOCTYPE html>
<html>
<head>

	<title>and and name</title>
	<style type="text/css">
		body{
			text-align: center;
		}
		p{
			text-align: center;
			background-color: green;
			color:red;
			font-size: 30px;
			padding: 23px;
			margin-left:30%;
			margin-right: 30%;

		}
		#smaple{
			margin-left: 23%;
			background-color:red ;
			text-align: center;
			padding: 12px;

		}
		.sa{
			margin-right: 20%;
			text-align: center;
			color: green;
			background-color: yellow;
		}
	</style>
</head>
<body>
	<h2>Your name is :<span style="color: white;font-size: 29px;"><i>{{n}}</i></span></h2>
	<h3>Your id is : {{i}}</h3>
<h1>Reddy</h1>
<p>ree darling your my darling </p>
<h4 id="smaple"><i>your my bestie forever and ever ra</i></h4>
<h1 class="sa">Meera is my darling </h1>
<p class="sa">Kushiibujji</p>
<h4 class="sa">Rafiq</h4>

</body>
</html>