<!DOCTYPE html>
<html>
<head>
	<title>reddy </title>
	<style>
		h1{
			text-align: center;
			margin-left: 20%;
			margin-right: 20%;
			padding: 23px;
			color: white;
			background-color: green;
		}
		.rk{
			text-align: center;
			margin-left: 30%;
			margin-right: 30%;
			background-color: pink;
			color: blue;
		}
	</style>
</head>
<body>
	<h1 style="font-size: 30px;">Reddy Kushi</h1>
	<h1>We are both bestfriends</h1>
	<h1 class="rk">Everthing should be come to at right time </h1>

</body>
</html>